<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/head') %>
  </head>
  <body>
    <header>
      <%- include('../layout/header') %>
    </header>
    <main>THIS IS THE HOME PAGE</main>
    <footer>
      <%- include('../layout/footer') %>
    </footer>
  </body>
</html>